<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Employee</title>
    <meta charset="UTF-8"/>
</head>
<body>
<h1>Create Employee</h1>

<form th:action="@{/employees}" th:object="${employee}" method="post">
    <div>
        <label>First name *</label><br/>
        <input type="text" th:field="*{firstName}" required maxlength="60"/>
        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    </div>

    <div>
        <label>Last name *</label><br/>
        <input type="text" th:field="*{lastName}" required maxlength="60"/>
        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    </div>

    <div>
        <label>Email</label><br/>
        <input type="email" th:field="*{email}" maxlength="120"/>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>

    <div>
        <label>Hired at</label><br/>
        <input type="date" th:field="*{hiredAt}"/>
        <div th:if="${#fields.hasErrors('hiredAt')}" th:errors="*{hiredAt}"></div>
    </div>

    <p>
        <button type="submit">Save</button>
        <a th:href="@{/employees}">Cancel</a>
    </p>
</form>

</body>
</html>