<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employees</title>
    <meta charset="UTF-8"/>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        .action-link {
        margin-right: 10px;
        }
    </style>
</head>

<body>

<h1>Employees</h1>

<p>
    <a th:href="@{/employees/new}">Create Employee</a>
</p>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Hired at</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="e : ${employees}">
        <td th:text="${e.id}"></td>
        <td th:text="${e.firstName}"></td>
        <td th:text="${e.lastName}"></td>
        <td th:text="${e.email}"></td>
        <td th:text="${e.hiredAt}"></td>

        <td>
            <a th:href="@{/employees/{id}/edit(id=${e.id})}" class="action-link">Edit</a>
            <a th:href="@{/employees/{id}/delete(id=${e.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>